<p>
  The course has the following weekly sessions depending on your implementation:
</p>

<ul>
  <li>
    Implementation SOF005AS3A-3012 (Finnish): Tuesdays at 14:00 - 16:00 and
    Thursdays at 14:00 - 16:00 in classroom 5006
  </li>
  <li>
    Implementation SOF005AS3AE-3004 (English): Wednesdays at 11:00 - 13:45
    (includes lunch break) and Fridays at 8:45 - 10:45 in classroom 4012
  </li>
</ul>

<p>
  Attendance on weekly sessions is <i>mandatory</i> and activity during the
  sessions affects the final grade.
</p>
